 .footer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 40px 32px;
}

.footer-sitemap {
    display: flex;
    justify-content: center;
    align-items: start; /* 列元素在垂直方向上對齊頂部 */
    padding: 40px 32px;
}

.footer-sitemap-column {
    flex: 1; /* 均分容器寬度 */
    margin-right: 150px; /* 右邊間距（可根據需要調整） */
}
