.none {
  display: none;
}
  .disabled-button {
    pointer-events: none; /* 禁用按钮的交互 */
    opacity: 0.6; /* 降低按钮的透明度 */
    /* 其他样式属性，如颜色、边框等 */
  }
  
  .step-img-view{
    border: 1px solid lightgray;
    display: inline-block;
    width: 200px;
    min-height: 150px;
    position: relative;
    display:inline-block;
  }
  .step-img-view span.text{
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: lightgray;
  }
  .preview img.preview_img{
    width: 100%;
  }
  #coverImageView{
    border: 1px solid lightgray;
    display: inline-block;
    width: 400px;
    min-height: 300px;
    position: relative;
    display:inline-block;
  }

  #coverImageView span.text{
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: lightgray;
    font-size: 30px;
  }


  #stepImg #coverImage ,.step-img{
    position: relative;
    width: 100%; 
    height: 100%;
    object-fit: cover;
    z-index: 2;
  }

  textarea.martin-textarea{
    height: 70%;
    margin: 3px;
  }

  #recipeName .recipe_content{
    font-weight:bold;
    font-size: 20px;
  }

  input.recipe-name {
    padding-top: 25px; /* 設定上間距 */
    padding-bottom: 25px; /* 設定下間距 */
  }

  #addIngredient ,#addKitchenware, #addStep {
	font-size: 14px;
	color: #ffffff;
	font-weight: 800;
	text-transform: uppercase;
	display: inline-block;
	padding: 13px 30px 12px;
	background: #F27405;
	border: none;
  margin: 10px;
  }

  .search-results {
    /* display: none;  */
    background-color: #fff;
    position: absolute;
    top: 100%; /* 相对于输入框的下方 */
    left: 0;
    right: 0;
  }
  
  /* 样式用于搜索结果项 */
  .result-item {
    display:block;
    position:relative;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1;
  }

  .right-column{
    background: #D9430D;
    margin: 20px;
    border: 10px;
    color: #ffffff;
    font-size: 20px;
    text-align:center;
    border-radius: 10px; /* 可以根據需要調整圓角的半徑 */
      
  }
  div.sticky-sidebar {
    width: 100px;
    position: sticky;
    top: 100px; /* 距離頂部的距離，可以根據需要調整 */
  }
  div.recipe-content{
    background-color: white;
    padding: 20px;
  }

  #btnTag{
    cursor: pointer;
    background-color: #F29422;
    margin: 20px;
    border: 10px;
    color: #ffffff;
    font-size: 20px;
    text-align:center;
    border-radius: 10px; /* 可以根據需要調整圓角的半徑 */
  }
  #tagBox{
  /*   border: 1px solid red; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, .5);
    z-index: 9999;
  }
  .none{
    display: none;
  }
  
  /* 元素 article 置中及基本樣式 */
  #tagBox > article{
    background-color: white;
    width: 90%;
    max-width: 800px;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #tagBox p{
    font-size: 20px;
    margin: 10px;
  }
  #tagBox input{
    border: none;
    width:max-content;
    flex-grow: 1;
  }
  #tagBox button{
    font-size: 15px;
    margin: 5px;
  }

  div#selectTag {
    height: auto; /* 自动增加容器的高度 */
    flex-wrap: wrap;
}
:read-only{
	margin-bottom:5px;
}
#stepImg{
	z-index: 1;
}
a.disabled {
  color: gray; /* 更改颜色为灰色 */
  text-decoration: none; /* 去除下划线 */
  pointer-events: none; /* 禁用点击事件 */
}
/* 會員關注 */
.member-profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.avatar-container {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-container {
  margin-right: 10px;
}

.follow-button {
  margin-left: 15px;
}
/* 會員關注 */
