/* 色調 : #F29422
#F27405
#D9430D
#BF4E24
#F2F2F2*/


* {
    margin: 0px;
    padding: 0px;
}


/*=========================================以下article_edit的css==============*/
#edit_title {
    width: 658px;
    height: 42px;
    margin-left: 5px;
    margin-bottom: 20px;
}

#cat_article_main {
    border: 2px solid brown;
    margin-bottom: 5px;
    margin-right: 5px;
    text-align: center;

}

#btn_confirm {
    margin-right: 150px;
    border-radius: 20px;
}

#btn_clean {
    margin-left: 50px;
    border-radius: 20px;
}

#btn_cancel {
    margin-left: 20px;
    border-radius: 20px;
}

#btn_drawft {
    border-radius: 20px;
}

/*以下article_content的css*/
.conten_title {
    font-size: 22px;
}

#like-dislike img {
    width: 40px;
    cursor: pointer;
}

#like-dislike button {
    float: right;
}

#reply_input {
    resize: none;
    width: 600px;
}



/*===============================以下article_main的css========================*/
#article_cat_btn {
    /* border: 2px solid brown; */
    margin-bottom: 2px;
    text-align: center;
    padding-left: 50px;
}



#article_top_title {
    width: auto;
    height: 35px;
    border: 2px
        /* solid purple; */
}

.title_colum {

    height: 70px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    ;
    background-color: #F29422;
    transition: background-color 0.3s;
    /* 添加过渡效果以平滑颜色变化 */

}

.title_colum.odd {
    background: #F29422;
}

.title_colum.even {
     background: #F27405;
}

/* 为基数项设置不同的背景颜色 */
.title_colum:nth-child(odd) {
    background: #F27405;
}

.title_colum:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

#cat_view {
    color: brown;
    font-size: 20px;
    margin-right: 5px;
    padding-left: 20px;
}


#title_view {
    color:black;
    font-size: 20px;
    border: none;
    background: none;
}

#title_colum_td {
    width: 510px;
    height: 35px;
}

#article_sumbit {
    margin-left: 5px;
    width: 205px;
    color: #ff5733;
    border: solid 1px;
    box-shadow: none;
    /* 去除原本bootstranp5按鈕的陰影效果 */
}

#article_sumbit:hover {
    /*:hover可以設定滑鼠移入時的效果*/
    background-color: #ff4500;
    /* 滑鼠移入時的背景顏色 */
    color: #ffffff;
    /* 滑鼠移入時的文字顏色 */
    box-shadow: none;
    /* 去除原本bootstranp5按鈕的陰影效果 */
}

#article_creator {
    width: 130px;
    height: 30px;
    cursor: pointer;
    /* border: 2px dashed green;  */
    text-align: center
}

#article_date {
    cursor: pointer;
    width: 100px;
    height: 30px;
    /* border: 2px dashed purple;  */
    text-align: center;
}

#article_count {
    cursor: pointer;
    width: 100px;
    height: 30px;
    /* border: 2px dashed orangered;  */
    text-align: center;
}


/* 自定按钮颜色 */
.custom-btn {
    color: #ff5733;
    ;
    border: solid 1px;
}

.custom-btn:hover {
    background-color: #ff4500;
    /* 滑鼠移入時的背景顏色 */
    color: #ffffff;
    /* 滑鼠移入時的背景颜色 */
    box-shadow: none;
    /* 去除原本bootstranp5按鈕的陰影效果 */

}

/* 按鈕點擊時的填充效果 */
.custom-btn:focus,
.custom-btn:active {
    /*配合js語法，讓標籤class 加入active*/
    background-color: #ff4500 !important;
    /* 點擊後填充的背景顏色 */
    color: #ffffff !important;
    box-shadow: none !important;
}



.HO-btn-org {
    color: #f2f2f2;
    background-color: #ff5733;
    border-color: #ff5733;
  }
.HO-btn-org:hover {
    color: #f2f2f2;
    background-color: #bf4e24;
    border-color: #a8401a;
}

.HO-btn-org.focus,
.HO-btn-org:focus {
    color: #f2f2f2;
    background-color: #bf4e24;
    border-color: #a8401a;
    /* box-shadow: 0 0 0 0.2rem rgba(160, 72, 41, 0.5); */
 }

.HO-btn-org.disabled,
.HO-btn-org:disabled {
    color: #fff;
    background-color: #bf4e24;
    border-color: #6c757d;
    
}

.HO-btn-org:not(:disabled):not(.disabled).active,
.HO-btn-org:not(:disabled):not(.disabled):active,
.show>.HO-btn-org.dropdown-toggle {
    color: #f2f2f2;
    background-color: #bf4e24;
    border-color: #a8401a;
}

.HO-btn-org:not(:disabled):not(.disabled).active:focus,
.HO-btn-org:not(:disabled):not(.disabled):active:focus,
.show>.HO-btn-org.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(160, 72, 41, 0.5);
}


.page-link {
    /*設定頁簽效果*/
    color: #BF4E24;
    border: solid 0.5px #BF4E24;
    box-shadow: none;
}

.page-link:hover {
    background-color: #ff4500;
    border: solid 0.5px #BF4E24;
    /* 滑鼠移入時的背景顏色 */
    color: #cf1717;
    /* 滑鼠移入時的背景颜色 */
    box-shadow: none;
    /* 去除原本bootstranp5按鈕的陰影效果 */

}
a.page-link_ne, 
a.page-link_pr {
    /*設定頁簽效果*/
    color: #ff5733;
    border: solid 0.5px #BF4E24;
    box-shadow: none;
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
}
.page-link_ne:hover,
.page-link_pr:hover {
    background-color: #ff4500;
    border: solid 0.5px #BF4E24;
    /* 滑鼠移入時的背景顏色 */
    color: #cf1717;
    /* 滑鼠移入時的背景颜色 */
    box-shadow: none;
    /* 去除原本bootstranp5按鈕的陰影效果 */
}
/*===============================以下article_content的css===========================*/

#a#creator {
  color: black;
  text-decoration: none; /* 取消下底線 */
}




/*===============================以下是webchat==================================*/
.panel {
    border: 2px solid#D9430D;
    border-radius: 5px;
    width: 100%;
}

.message-area {
    height: 70%;
    resize: none;
    box-sizing: border-box;
    overflow: auto;
}

.input-area {
    background: #F27405;
    box-shadow: inset 0 0 10px#F29422;
}

.input-area input {
    margin: 0.5em 0em 0.5em 0.5em;
}

.text-field {
    border: 1px solid grey;
    padding: 0.2em;
    box-shadow: 0 0 5px #000000;
}



#message {
    min-width: 50%;
    max-width: 100%;
    width: 250px;
}

/* 下面是自己與他人的顯示部分 */
/* ul li{ */
/*   display:inline-block; */
/*   clear: both; */
/*   padding: 20px; */
/*   border-radius: 30px; */
/*   margin-bottom: 2px; */
/*   font-family: Helvetica, Arial, sans-serif; */
/* } */

.friend{
  background: #eee;
  float: left;
}

.me{
  float: right;
  background: #0084ff;
  color: #fff;
}

.friend + .me{
  border-bottom-right-radius: 5px;
}

.me + .me{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.me:last-of-type {
  border-bottom-right-radius: 30px;
}

/* 上面是自己與他人的顯示部分 */

/* .statusOutput {
    background: #F27405;
    text-align: center;
    color: #ffffff;
    border: 1px solid grey;
    padding: 0.2em;
    box-shadow: 0 0 5px #000000;
    width: 30%;
} */
.statusOutput{
    background: #F29422;
    padding: 9px 9px;
    font-size: 25px;
    color: white;
    box-sizing: border-box !important;
    border-radius: 5px;
    text-align: center;
}